@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    margin: 0px;
    padding: 0px;
    background: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo {
  margin-left: 1;
  float: left;
  position: absolute;
}

.bobine {
  float: right;
  width: 100px;
  margin: 0;
  margin-right: 2em;
}

.intro {
  padding-top: 7.5em;
  font-size: 1.2em;
  text-align: center;
  font-weight: lighter;
}

.name {
  padding-top: 0.5em;
  text-align: center;
  font-size: 1.2em;
  color: #FFDA2F;
  font-weight: lighter;
  letter-spacing: 0.03em;
}

.corps {
  padding-top: 1em;
  display: flex;
  flex-direction: column;
}

.heading {
  font-size:  1.3em;
}

h2 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: lighter;
  text-align: center;
}

nav {
  width: 60%;
  position: sticky;
  top: 0px;
  margin-left: auto;
  margin-right: auto;
  z-index: 999;
}
nav ul {
  list-style-type: none;
  display: flex;
  width: 100%;
}
nav ul li {
  position: relative;
  flex: 1 1 auto;
  text-align: center;
  float: right;
}
nav a {
  display: block;
  text-decoration: none;
  color: white;
  border-bottom: 2px solid transparent;
  padding: 15px 0px;
}
nav a:hover {
  color: #FFDA2F;
  border-bottom: 2px solid #FFDA2F;
}

.sous {
  display: none;
  box-shadow: 0px 1px 2px #CCC;
  background-color: white;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

nav > ul li:hover .sous {
  display: flex;
  flex-flow: column wrap;
}

.sous li {
  flex: 1 1 auto;
  text-align: left;
}

.sous a {
  padding: 10px;
  border-bottom: none;
  text-align: center;
}

.sous a:hover {
  border-bottom: none;
  background-color: RGBa(200, 200, 200, 0.1);
}

.dropdown > a::after {
  content: "▼";
  font-size: 12px;
}

#section {
  float: left;
  padding-bottom: 5em;
}

.topmovie {
    width: 100%;
    text-align: center;
    font-size:1.3em;
    font-weight: lighter;
    /*-webkit-transform: scale(1.3);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;*/
    transition: 0.5s ease;
    font-family: Verdana;
    margin-bottom: 4em;
    margin-top: 3em;
}
.topmovie:hover {
  transform: scale(1.1);
}
.affiche {
    height: auto;
    margin-top: 3em;
    width: 400px;
    margin: 0px auto;
    overflow: hidden;
    border: 4px solid rgba(255,255,255,0.6);
    border-color: #FFDA2F;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #000;
}

h1 {
  text-align: center;
}


body{
    height: 100vh;
    width: 100%;
    color: white;
    background-color: black;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
#conteneur {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background: black;
    width: 98%;
    margin: 20px;
    padding: 0;
  }
  
  #conteneur .element {
    padding: 20px;
    width: 150px;
    height: 80px;
    padding-top: 60px;
    text-align: center;
    background: darkgrey;
    font-size: 1.3rem;
  }
  
  #conteneur .element:nth-child(1) {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    /*flex: 50%;*/
    text-align: left;
    padding-left: 40px;
  }
select{
    background: darkgrey;
    color: white;
    font-size: 100%;
    /* border: none; */
    width: 130px;
}
section{
    height: 100vh;
    width: 100%;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/*#bestMovie{
    
    display: flex;
    position: relative;
    justify-content: flex-end;
}
#bestMovie_title{
    
    font-size: xx-large;
    text-transform: uppercase;
    flex: 1;
    padding-top: 30px;
    text-align: left;
}
#bestMovie_image{
    
}*/
.title{
    position: relative;
    width: 61%;
    color: white;
    font-size: xx-large;
    text-align: left;
    padding-top: 150px;
    padding-bottom: 10px;
}
.wrapper{
    height: 350px;
    width: 60%;
    position: relative;
}
.wrapper .leftSlider,
.wrapper .rightSlider{
    color: white;
    font-weight: bold;
    height: 100%;
    width: 55px;
    line-height: 300px;
    font-size: 3em;
    text-align: center;
    /* background-color: rgb(216, 11, 11); */
    font-family: sans-serif;
    top: 0;
    z-index: 1;
    padding-top: 20px;

}
.wrapper .leftSlider{
    position: absolute;
    size: 0.5em;
    left: -50px;
    background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0)), to(black));
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, black 100%);

}
.wrapper .rightSlider{
    position: absolute;
    right: -50px;
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(black));
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, black 100%); 
}
.movies_box {
    height: 300px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding: 10px;
    margin-top: 12px;
    display: flex;
    align-items: center;

}
.wrapper img{
    min-width: 182px;
    max-width: 182px;
    height: 268px;
    background-size: cover;
    margin: 5px 20px;
    cursor: pointer;
    transition: 0.5s ease;
    z-index: 1;
    border: 2px;
}

.wrapper img:hover{
    transform: scale(1.3);
}
#best_movie {
    box-shadow: 0 1px 12px 5px #f47509db;
	background: black;
	width: 96%;
	margin: 20px;
	padding: 0;
	text-align: justify;
	display: flex;
    height: 420px;
}

.black-block {
    flex: 10%;
    flex: 1;
}
.movie {
    padding: 0;
    flex: 60%;
    max-width: 1000px;
    max-height: 420px;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    line-height: 30px;
}
#title {
    padding: 10px 0;
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: bolder;
}

em {
    font-style: normal;
    font-weight: bold;
}
a:hover {
    color: black;
    text-decoration: none;
}
::-webkit-scrollbar {
    background-color: black;
}
::-webkit-scrollbar-button {
    background-color: #807d7d54;
}

.wrapper img:hover {
    transform: scale(1.2);
}
#myBtn{
    margin: 40px;
    box-shadow:  0px 0px 20px 3px #686666;
    transform: scale(1.2);
}
.selected_movie {
    box-shadow: 0 1px 12px 5px #f47509db;
	background: rgb(68, 1, 1);
	width: 96%;
	margin: 20px;
	padding: 0;
	text-align: justify;
	display: flex;
    flex-direction: row;
    height: 420px;
}
.movie{
    padding: 5px;
    flex: 60%
}
#image_url_cible{
    flex: 30%;
    margin: 44px 20px 40px 20px;
    /* margin-left: 30px; */
    align-items: center;
    width: 220px;
    height: auto;
}
.data {
    display: grid;
    grid-template-columns: 50% 50%;
    list-style-type: none;
    min-height: 20px;
    max-height: 120px;
    overflow-y: auto;
}
#actors{
    min-height: 20px;
    max-height: 150px;
    overflow-y: auto;
}
#synopsis{
    overflow-y: auto;
    max-height: 170px;
}
.characters{
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: white;
    margin: auto;
    padding: 10px;
    width: 80%;
}

/* The Close Button */
.close {
    color: #2048fa5d;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
