@charset "UTF-8";

@font-face {
  font-family: "League Spartan";
  src: url('img/LeagueSpartan-Bold.otf') format("truetype");
  }
@font-face {
    font-family: "Saira Stencil One";
    src: url('img/SairaStencilOne-Regular.ttf') format("truetype");
  } 

*{
    margin: 0;
    padding: 0;
    margin: 0px;
    padding: 0px;
    background: black;
    color: white;
    font-family: "League Spartan";
}

#logo {
    margin-top: 0.05em;
    margin-left: 0.2em;
    position: absolute;
}

#image_accueil {
  margin-top: 1em;
  width: 100%;
}


.vignette {
  float: right;
  width: 100px;
  margin: 0;
  margin-right: 2em;
}

.intro {
  padding-top: 7.5em;
  font-size: 1.2em;
  text-align: center;
  font-weight: lighter;
}

.name {
  padding-top: 0.5em;
  text-align: center;
  font-size: 1.3em;
  color: white;
  letter-spacing: 0.03em;
  text-shadow: 0px 2px 2px #ff1616;
}

strong
{
    color: white;
}

#goodnight 
{
    color: white;
}
.corps {
  padding-top: 1em;
  display: flex;
  flex-direction: column;
}


.heading {
  font-size:  1.3em;
  font-family: "Saira Stencil One";
  text-align: center; 
}

.Score {
  text-align: center;
}

h2 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: lighter;
  text-align: center;
  font-family: "Saira Stencil One"
}

nav {
  width: 60%;
  position: fixed;
  top: 0px;
  left: 22%;
  margin-left: auto;
  margin-right: auto;
  z-index: 999;
  border-radius: 30px;
}

nav ul {
  list-style-type: none;
  display: flex;
  width: 100%;
  border-radius: 30px;
  
}
nav ul li {
  position: relative;
  flex: 1 1 auto;
  text-align: center;
  float: right;
  border-radius: 30px;
}
nav a {
  display: block;
  text-decoration: none;
  font-family: "Saira Stencil One";
  color: white;
  border-bottom: 2px solid transparent;
  padding: 10px 0px;
  letter-spacing: 0.06em;
  border-radius: 30px;
}
nav a:hover {
  border-bottom: 2px solid #ff1616;
  box-shadow: 0px 2px 2px white;
  border-radius: 30px;
  color: white;
  font-weight: bold;
}

.sous {
  display: none;
  box-shadow: 0px 1px 2px #ff1616;
  background-color: black;
  position: absolute;
  width: 100%;
  z-index: 1000;
  border-radius: 30px;
}

nav > ul li:hover .sous {
  display: flex;
  flex-flow: column wrap;
  border-radius: 30px;
}
}

.sous li {
  flex: 1 1 auto;
  text-align: left;
}

.sous a {
  padding: 10px;
  text-align: center;
  border-radius: 30px;
}

.sous a:hover {
    color:  white;

}

.dropdown > a::after {
  content: "▼";
  font-size: 12px;
}

#section {
  float: left;
  padding-bottom: 5em;
}

.topmovie {
    width: 100%;
    text-align: left;
    font-size:1.3em;
    font-weight: lighter;
    transition: 0.5s ease;
    font-family: Verdana;
    margin-bottom: 4em;
    margin-top: 3em;
}

.affiche {
    display: block;
    height: auto;
    margin-top: 3em;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border: 4px solid rgba(255,255,255,0.6);
    border-color: #ff1616;
}

#infos_topmovie {
  display: flex;
  flex-direction: column;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #000;
}

h1 {
  text-align: center;
}


body{
    height: 100vh;
    width: 100%;
    color: white;
    background-color: black;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
#conteneur {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background: black;
    width: 98%;
    margin: 20px;
    padding: 0;
  }
  
  #conteneur .element {
    padding: 20px;
    width: 150px;
    height: 80px;
    padding-top: 60px;
    text-align: center;
    background: darkgrey;
    font-size: 1.3rem;
  }
  
  #conteneur .element:nth-child(1) {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: left;
    padding-left: 40px;
  }
select{
    background: darkgrey;
    color: white;
    font-size: 100%;
    width: 130px;
}
section{
    height: 100vh;
    width: 100%;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.title{
    position: relative;
    width: 61%;
    color: white;
    font-size: xx-large;
    text-align: left;
    padding-top: 150px;
    padding-bottom: 10px;
    font-family: "Saira Stencil One"
}
.wrapper{
    height: 350px;
    width: 60%;
    position: relative;
}
.wrapper .leftSlider,
.wrapper .rightSlider{
    color: white;
    font-weight: bold;
    height: 100%;
    width: 55px;
    line-height: 300px;
    font-size: 3em;
    text-align: center;

    font-family: sans-serif;
    top: 0;
    z-index: 1;
    padding-top: 20px;

}
.wrapper .leftSlider{
    position: absolute;
    size: 0.5em;
    left: -50px;
    background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0)), to(black));
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, black 100%);

}
.wrapper .rightSlider{
    position: absolute;
    right: -50px;
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(black));
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, black 100%); 
}
.movies_box {
    height: 300px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding: 10px;
    margin-top: 12px;
    display: flex;
    align-items: center;

}
.wrapper img{
    min-width: 182px;
    max-width: 182px;
    height: 268px;
    background-size: cover;
    margin: 5px 20px;
    cursor: pointer;
    transition: 0.5s ease;
    z-index: 1;
    border: 2px;
}

.wrapper img:hover{
    transform: scale(1.3);
}

.wrapper .heading {
  position: absolute;
  bottom: 23px;
  color: #fff;
  font-size: 1.1em;
  font-family: "Saira Stencil One";
}
.wrapper .Score {
  position: absolute;
  bottom: 0;
  left: 20px;
  color: #fff;
}
#best_movie {
    *color: #FF1616;
*/	/background: black;
	width: 96%;
	margin: 5px;
	padding: 0;
	text-align: justify;
	display: flex;
    height: 420px;
}

.black-block {
    flex: 10%;
    flex: 1;
}
.movie {
    padding: 0;
    flex: 60%;
    max-width: 1000px;
    max-height: 420px;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    line-height: 30px;
    margin-left: 0.2em;
}
#title {
    padding: 10px 0;
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: bolder;
    font-family: "Saira Stencil One";
}

em {
    font-style: normal;
    font-weight: bold;
}
a:hover {
    color: black;
    text-decoration: none;
}
::-webkit-scrollbar {
    background-color: black;
}
::-webkit-scrollbar-button {
    background-color: #ff1616;
}

.wrapper img:hover {
    transform: scale(1.2);
}
#myBtn{
    margin: 40px;
    box-shadow:  0px 0px 20px 3px #ff1616;
    transform: scale(1.2);
}
.selected_movie {
	width: 100%;
	margin: 20px;
	padding: 0;
	text-align: justify;
	display: flex;
  flex-direction: row;
  height: 420px;
}
.movie{
    padding: 5px;
}
#image_url_cible{
    flex: 30%;
    margin: 44px 20px 40px 20px;
    align-items: center;
    width: 220px;
    height: auto;
}
.data {
    display: grid;
    grid-template-columns: 50% 50%;
    list-style-type: none;
    min-height: 20px;
    max-height: 120px;
    overflow-y: auto;
    margin-left: 0.2em;
}
#actors{
    min-height: 20px;
    max-height: 150px;
    overflow-y: auto;
}
#synopsis{
    overflow-y: auto;
    max-height: 170px;
}
.characters{
}

/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 2; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.6); 
}

/* Modal Content */
.modal-content {
    border: 4px solid rgba(255,255,255,0.6);
    border-color: #ff1616;    margin: auto;
    box-shadow: 0px 2px 2px white;
    width: 75%;
    border-radius: 30px;
    z-index: 100;
}

/* The Close Button */
.close {
    color: #FFFF;
    float: right;
    margin:  0.3em;
    font-size: 25px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
